.main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main h2{
    font-size: 36px;
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}
.main h2 span {
    color: #ffb703;
}
.main a {
    padding: 15px 50px;
    border-radius: 15px;
    border: none;
    background-color: #ffb703;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width:560px) {
    .main h2 {
        width: 80%;
        line-height: 50px;
    }
}